<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>com.mycompany.bankingproject2022.CheckLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllCustomers</servlet-name>
        <servlet-class>com.mycompany.bankingproject2022.GetAllCustomers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomer</servlet-name>
        <servlet-class>com.mycompany.bankingproject2022.AddCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deposit_amount</servlet-name>
        <servlet-class>com.mycompany.bankingproject2022.deposit_amount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>withdraw_amount</servlet-name>
        <servlet-class>com.mycompany.bankingproject2022.withdraw_amount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>utility</servlet-name>
        <servlet-class>com.mycompany.bankingproject2022.utility</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllCustomers</servlet-name>
        <url-pattern>/GetAllCustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomer</servlet-name>
        <url-pattern>/AddCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deposit_amount</servlet-name>
        <url-pattern>/deposit_amount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>withdraw_amount</servlet-name>
        <url-pattern>/withdraw_amount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>utility</servlet-name>
        <url-pattern>/utility</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
